<app-top-bar for="F" type="show" sizeMenu="sm" [data]="this.facture" ></app-top-bar>

<section class="grid grid-cols-2 md:grid-cols-2 gap-5">
	<!-- Informations column -->

	<div class="grid grid-col gap-2 text-sm">
		<div>
			<span class="secondary-title text-base">{{'FORM.TITLE.INF'|translate}}</span>
		</div>
		<div class="flex flex-col space-y-4 " >
			<div class="flex flex-col space-y-3  " *ngIf="facture.status" >
				<div class=" grid grid-cols-4 ">
					<span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.ST'| translate}} </span>
                    <span >{{this.details.transStatus(facture.status)}}</span>
                </div>
				<hr>
			</div>
      		<div class="flex flex-col space-y-3 " >
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2  col-span-2">{{'DROP_MENU.SHOW.CLE'| translate}} </span>
          			<span >{{this.details.formatDate(facture.date)}}</span>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3 " >
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2  col-span-2">{{'DROP_MENU.SHOW.PDF'| translate}} </span>
          <span >{{this.details.formatDate(facture.date)}}</span>
				</div>
				<hr>
			</div>
			<div class="flex flex-col space-y-3 " *ngIf="facture.date_finalisation">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2  col-span-2">{{'DROP_MENU.SHOW.FINE'| translate}} </span>
          <span >{{this.details.formatDate(facture.date_finalisation)}}</span>
				</div>
				<hr>
			</div>
			<div class="flex flex-col space-y-3 " *ngIf="facture.date_paiement">
				<div class=" grid grid-cols-4 gap-4">
				<span class="text-gray-2  col-span-2">{{'DROP_MENU.SHOW.PAY'| translate}} </span>
          <span >{{this.details.formatDate(facture.date_paiement)}}</span>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3 " *ngIf="facture.motCleList" >
				<div class=" grid grid-cols-4 gap-4">
				<span class="text-gray-2  col-span-2">{{'DROP_MENU.SHOW.MC'| translate}} </span>
          <div class="flex space-x-1">
            <span class="rounded-full-black" *ngFor="let word of facture.motCleList| slice:0:3 ">{{word.mot}}</span>
            <span class="rounded-full-black" *ngIf="facture.motCleList.length > 3">+{{ facture.motCleList.length - 3 }}</span>
          </div>
				</div>
				<hr>
			</div>
		</div>

	</div>

  <div class="flex flex-col gap-6 text-sm ">
		<div>
			<span class="secondary-title text-base">{{'DROP_MENU.SHOW.OL'|translate}}</span>
		</div>
    <span class="mt-6" *ngIf="facture.opportunite " >{{'DROP_MENU.SHOW.O' | translate}} {{facture.opportunite.code}}</span>
     <div style="margin-top: 30px; margin-bottom: 30px; " *ngIf="facture.opportunite ; else empty">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10">
          <app-card  for="O" [data]="facture.opportunite" ></app-card>
        </div>
    </div>
    <ng-template #empty>
        <div class="justify-center items-center p-40">
          <span class="secondary-title text-base text-gray-4">{{'DROP_MENU.SHOW.AO'|translate}}</span>
        </div>
    </ng-template>
	</div>

  	<!-- Destinataire -->

	<div class="grid grid-col gap-6 text-sm">
		<div>
			<span class="secondary-title text-base">{{'DROP_MENU.SHOW.DE'|translate}}</span>
		</div>
	<div class="flex flex-col space-y-4 " >
			<div class="flex flex-col space-y-3  " *ngIf="facture.client">
		      <div class=" grid grid-cols-4 "  >
				<span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.DE'| translate}} </span>
				<span >{{facture.client.firstName}} {{ facture.client.lastName}}</span>
             </div>
		 <hr>
	  </div>
	  <div class="flex flex-col space-y-3  " *ngIf= "facture.societe">
		  <div class=" grid grid-cols-4 "  >
			 <span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.DE'| translate}} </span>
             <span >{{facture.societe.name}}</span>
         </div>
		 <hr>
	  </div>

	  <div class="flex flex-col space-y-3  " *ngIf= "this.societe">
		  <div class=" grid grid-cols-4 "  >
			 <span class="text-gray-2 col-span-2">{{'DATA_NAME.S'| translate}} :</span>
             <span >{{societe.name}} </span>
         </div>
		 <hr>
	  </div>


    <!--Num tel -->


    <div class="flex flex-col space-y-3  " *ngIf= "facture.societe" >
		  <div class=" grid grid-cols-4 "  >
			    <span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.NUE'| translate}}  </span>
                <div *ngFor=" let phone of facture.societe?.phoneList" >
						    <span>{{phone.phoneNumber}}</span>
			   </div>
          </div>
		  <hr>
	  </div>

    <div class="flex flex-col space-y-3  " *ngIf= "this.societe" >
		  <div class=" grid grid-cols-4 "  >
			    <span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.NUE'| translate}}  </span>
           <div *ngFor=" let phone of societe.phoneList" >
						    <span>{{phone.phoneNumber}}</span>
					 </div>
      </div>
		    <hr>
	  </div>

    <!--Num TVA-->

    <div class="flex flex-col space-y-3  " *ngIf= "facture.societe || this.societe" >
		  <div class=" grid grid-cols-4 "  >
			 <span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.NTVA'| translate}} </span>
             <span *ngIf= "facture.societe?.ntva" >{{facture.societe?.ntva}} </span>
             <span *ngIf= "societe?.ntva" >{{societe?.ntva}}</span>
         </div>
		 <hr>
	  </div>

    <!--Adresse-->

    <div class="flex flex-col space-y-3  " *ngIf= "!this.societe && !facture.societe ">
				<div class=" grid grid-cols-4 gap-4">
          <span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.ADD'| translate}} </span>
					<div class="col-span-2 flex flex-col">
						<span *ngIf= "facture.client?.address?.address">{{facture.client?.address?.address}}</span>
						<ng-container *ngIf= "facture.client?.address?.complementAddress && facture.client?.address?.complementAddress?.length">
							<div  *ngFor= "let complementAddress of facture.client?.address?.complementAddress">
								{{complementAddress}}
							</div>
						</ng-container>
					</div>
				</div>
				<hr>
	  </div>
    <div class="flex flex-col space-y-3  " *ngIf= "this.societe">
				<div class=" grid grid-cols-4 gap-4">
          <span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.ADD'| translate}} </span>
					<div class="col-span-2 flex flex-col">
						<span *ngIf= "societe?.address">{{societe.address.address}}</span>
						<ng-container *ngIf= "societe?.address?.complementAddress && facture.client?.societe?.address?.complementAddress?.length">
							<div *ngFor="let complementAddress of facture.client?.societe?.address?.complementAddress" >
								{{complementAddress}}
							</div>
						</ng-container>
					</div>
				</div>
				<hr>
	  </div>
    <div class="flex flex-col space-y-3  " *ngIf= "facture.societe">
				<div class=" grid grid-cols-4 gap-4">
          <span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.ADD'| translate}} </span>
					<div class="col-span-2 flex flex-col">
						<span >{{facture.societe.address.address}}</span>
						<ng-container *ngIf= "facture.societe?.address?.complementAddress && facture.societe?.address?.complementAddress?.length">
							<div *ngFor= "let complementAddress of facture.societe?.address?.complementAddress" >
								{{complementAddress}}
							</div>
						</ng-container>
					</div>
				</div>
				<hr>
	  </div>

    <!--Pays -->

       <div class="flex flex-col space-y-3" *ngIf= "this.societe" >
				<div class=" grid grid-cols-4 gap-4 " >
					<span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.PA' | translate}} </span>
					<span >{{societe.address.country}} </span>
				</div>
				<hr>
			</div>

      <div class="flex flex-col space-y-3" *ngIf= "facture.client && !this.societe ">
	  			<div class=" grid grid-cols-4 gap-4 " >
					<span class="text-gray-2 col-span-2" >{{'DROP_MENU.SHOW.PA' | translate}} </span>
					<span >{{facture.client.address.country}} </span>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3" *ngIf= "facture.societe ">
	  			<div class=" grid grid-cols-4 gap-4 " >
					<span class="text-gray-2 col-span-2" >{{'DROP_MENU.SHOW.PA' | translate}} </span>
					<span >{{facture.societe.address.country}} </span>
				</div>
				<hr>
			</div>

    <!--Num tel Personnel-->
 <div class="flex flex-col space-y-3  " *ngIf= "facture.client" >
			<div class=" grid grid-cols-4 "  >
					<span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.NUM'| translate}}  </span>
			        <div *ngFor=" let phone of facture.client?.phoneList" >
						<span>{{phone.phoneNumber}}</span>
				   </div>
		   </div>
			<hr>
		</div>

	<!--email-->

       <div class="flex flex-col space-y-3  " *ngIf= "facture.societe">
          <div class=" grid grid-cols-4 "  >
          <span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.SI'| translate}} </span>
                <span >{{facture.societe.website}}</span>
            </div>
        <hr>
        </div>

        <div class="flex flex-col space-y-3  " *ngIf= "facture.client ">
          <div class=" grid grid-cols-4 "  >
          <span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.EM'| translate}} </span>
                <span >{{facture.client.email}}</span>
            </div>
            <hr>
        </div>




	</div>

	</div>

  <div class="flex flex-col gap-6 text-sm ">
		<div>
			<span class="secondary-title text-base">{{'DROP_MENU.SHOW.CON'|translate}}</span>
		</div>

    <div class="flex flex-col space-y-4 " >
			<div class="flex flex-col space-y-3  ">
		      <div class=" grid grid-cols-4 "  >
				<span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.CONR'| translate}} </span>
        <span>{{facture.conditionReglement?.name }}</span>
      </div>
		 <hr >
	  </div>
	  <div class="flex flex-col space-y-3  " >
		  <div class=" grid grid-cols-4 "  >
			 <span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.MOR'| translate}} </span>
             <span >{{facture.modeReglement?.name}}</span>
         </div>
		 <hr >
	  </div>
    <div class="flex flex-col space-y-3  " >
		  <div class=" grid grid-cols-4 "  >
			 <span class="text-gray-2 col-span-2">{{'DROP_MENU.SHOW.IN'| translate}} </span>
             <span class="col-span-2">{{facture.interet?.name}}</span>
         </div>
		 <hr >
	  </div>

	</div>

	</div>

</section>

<div class="flex flex-col gap-6 text-sm mt-5">
  <div>
    <span class="secondary-title text-base" >{{'DROP_MENU.SHOW.DET' | translate}}</span>
  </div>

  <div class="grid grid-col gap-6 text-sm ">

    <table >
      <tr class="border-b-gray-3">
        <th>{{'DROP_MENU.SHOW.T' | translate}}</th>
        <th >{{'DROP_MENU.SHOW.DEC' | translate}}</th>
        <th>{{'DROP_MENU.SHOW.PHT' | translate}}</th>
        <th>{{'DROP_MENU.SHOW.Q' | translate}}</th>
        <th>{{'DROP_MENU.SHOW.TVA' | translate}}</th>
        <th>{{'DROP_MENU.SHOW.R' | translate}}</th>
        <th>{{'DROP_MENU.SHOW.THT' | translate}}</th>
      </tr>

      <tr *ngFor= "let article of facture.articleList" class="text-gray-2 ">
        <td >{{article.typeArticle.name_fr}} </td>
        <td class="w-80 text-justify">{{article.description}} </td>
        <td >{{this.details.formatNumber(article.prixHT)}} <span class="ml-1">{{this.details.getCurrencySymbol(facture.devise)}}</span></td>
        <td>{{article.quantity}} </td>
        <td>{{this.details.formatNumber(article.tva)}} % </td>
        <td>{{this.details.formatNumber(article.reduction)}} {{this.details.getReductionSymbol(facture,article.redIsPercentage)}} </td>
        <td>{{this.details. formatNumber(this.details.calulTotlHT(article))}} {{this.details.getCurrencySymbol(facture.devise)}} </td>
      </tr>

    </table>



  <table class=" justify-self-end mr-16 ">
      <tr>
        <td class="font-bold ">{{'DROP_MENU.SHOW.THT' | translate}}</td>
        <td class="text-gray-2">{{this.details.formatNumber(facture.totalHT)}} {{this.details.getCurrencySymbol(facture.devise)}}</td>
      </tr>
      <tr *ngFor= "let article of facture.articleList">
        <td >{{'DROP_MENU.SHOW.TVA' | translate}} ({{article.tva}}%)</td>
        <td class="text-gray-2"> {{this.details.formatNumber(this.details.calulTVA(article))}} {{this.details.getCurrencySymbol(facture.devise)}}</td>
     </tr>
     <tr>
      <td class="font-bold">{{'DROP_MENU.SHOW.RG' | translate}}</td>
        <td class="text-gray-2">{{this.details.formatNumber(facture.remise)}}{{this.details.getReductionSymbol(facture,facture.remIsPercentage)}}</td>
      </tr>
     <tr>
      <td class="font-bold">{{'DROP_MENU.SHOW.TTC' | translate}}</td>
        <td class="text-gray-2" >{{this.details.formatNumber(facture.totalTTC)}} {{this.details.getCurrencySymbol(facture.devise)}}</td>
      </tr>



    </table>




	</div>



</div>



