<nav class="bg-gray-1 p-4">
  <div class="flex justify-between">
    <div class="flex gap-5 w-fit">
      <div id="logo" class="flex flex-shrink-0 items-center">
        <img class="h-6" src="assets/svg/logo.svg" alt="logo" />
      </div>
    </div>

    <div class="flex">
      <div class="flex">
        <div class="hidden md2:flex w-fit gap-2 mx-0">
          <a
            class="item-style flex space-x-2 w-30 items-center"
            routerLink=""
            routerLinkActive="is-active"
          >
            <span class="span-text">Espaces de travail </span>
            <svg-icon name="arrowdown" svgClass="w-4"></svg-icon>
          </a>

          <!-- *ngIf="navBarType == 'facturation'" -->
          <div class="flex gap-2">
            <a
              class="item-style flex space-x-2 w-30 items-center"
              routerLink=""
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="is-active"
            >
              <svg-icon name="dashboard" svgClass="w-4"></svg-icon>
              <span class="span-text">Dashboard</span>
            </a>
            <!-- ajout menu -->

            <div
              class="relative inline-block container"
              id="ajoutMenu"
              (mouseleave)="closeMenu()"
            >
              <button class="hover-button" (mouseenter)="openMenu()">
                <a class="item-style flex space-x-2 w-30 items-center">
                  <svg-icon name="add" svgClass="w-4"></svg-icon>
                  <span class="span-text">Ajout</span>
                </a>
              </button>

              <div
                class="menu-container absolute left-0 shadow-lg flex flex-col w-32 bg-white-1 ring-1 ring-black-1 rounded-md"
                *ngIf="isMenuOpen"
              >
                <div class="nested-menu-container flex flex-col">
                  <div class="nested-menu" (mouseleave)="closeNestedMenu1()">
                    <button
                      class="nested-hover-button hover:bg-gray-3 hover:rounded-md w-[119px]"
                      (mouseenter)="openNestedMenu1()"
                    >
                      {{ "DATA_NAME.DCT" | translate }}
                    </button>
                    <div
                      class="nested-submenu bg-white-1 ring-1 ring-black-1 rounded-md"
                      *ngIf="isNestedMenu1Open"
                      (mouseleave)="closeNestedMenu1()"
                    >
                      <div class="nested-hover-button">
                        <button
                          class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                        >
                          <a [routerLink]="navigate.toAddPath('D')">{{
                            "DATA_NAME.D" | translate
                          }}</a>
                        </button>
                        <button
                          class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                        >
                          <a [routerLink]="navigate.toAddPath('F')">{{
                            "DATA_NAME.F" | translate
                          }}</a>
                        </button>
                        <button
                          class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                        >
                          <a [routerLink]="navigate.toAddPath('A')">{{
                            "DATA_NAME.A" | translate
                          }}</a>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="nested-menu" (mouseleave)="closeNestedMenu2()">
                    <button
                      class="nested-hover-button hover:bg-gray-3 hover:rounded-md w-[119px]"
                      (mouseenter)="openNestedMenu2()"
                    >
                      {{ "DATA_NAME.CT" | translate }}
                    </button>
                    <div
                      class="nested-submenu bg-white-1 p-2 ring-1 ring-black-1 rounded-md"
                      *ngIf="isNestedMenu2Open"
                      (mouseleave)="closeNestedMenu2()"
                    >
                      <button
                        class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                      >
                        <a [routerLink]="navigate.toAddPath('C')">{{
                          "DATA_NAME.C" | translate
                        }}</a>
                      </button>
                      <button
                        class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                      >
                        <a [routerLink]="navigate.toAddPath('C')">{{
                          "DATA_NAME.P" | translate
                        }}</a>
                      </button>
                      <button
                        class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                      >
                        <a [routerLink]="navigate.toAddPath('F')">{{
                          "DATA_NAME.FR" | translate
                        }}</a>
                      </button>
                      <button
                        class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                      >
                        <a [routerLink]="navigate.toAddPath('F')">{{
                          "DATA_NAME.CT" | translate
                        }}</a>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="nested-button-container flex flex-col">
                  <button
                    class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                  >
                    {{ "DATA_NAME.OPP" | translate }}
                  </button>
                  <button
                    class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                  >
                    {{ "DATA_NAME.TC" | translate }}
                  </button>
                  <button
                    class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                  >
                    {{ "DATA_NAME.E" | translate }}
                  </button>
                </div>
              </div>
            </div>

            <!-- end ajout menu -->
            <a
              class="item-style flex space-x-2 w-30 items-center"
              routerLink="{{ navigate.facturationPath }}"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="is-active"
            >
              <svg-icon name="factures" svgClass="w-4"></svg-icon>
              <span class="span-text">Facturation</span>
            </a>
            <a
              class="item-style flex space-x-2 w-30 items-center"
              routerLink=""
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="is-active"
            >
              <svg-icon name="rh" svgClass="w-5"></svg-icon>
              <span class="span-text">RH</span>
            </a>
          </div>
        </div>
        <div class="flex search-container">
          <span class="bg-white-1 rounded-l-full px-3 flex items-center">
            <svg-icon name="search" svgClass="w-5"></svg-icon>
          </span>
          <input
            type="search"
            name="search"
            placeholder="Rechercher"
            [(ngModel)]="data"
            (ngModelChange)="dataSearchChange()"
            class="text-sm h-full focus:outline-none rounded-r-full"
          />
        </div>
      </div>

      <div class="flex gap-1">
        <!-- <button type="button" class="icon-btn sm:hidden">
          <svg-icon name="search" svgClass=" myicon "></svg-icon>
        </button> -->
        <!-- ajout menu mobile -->
        <div class="ajout hidden">
          <div
            class="relative inline-block container"
            id="ajoutMenu"
            (mouseleave)="closeMenu()"
          >
            <button class="hover-button" (mouseenter)="openMenu()">
              <a class="item-style flex space-x-2 w-30 items-center">
                <svg-icon name="add" svgClass="w-4"></svg-icon>
                <span class="span-text">Ajout</span>
              </a>
            </button>

            <div
              class="menu-container absolute left-0 shadow-lg flex flex-col w-32 bg-white-1 ring-1 ring-black-1 rounded-md"
              *ngIf="isMenuOpen"
            >
              <div class="nested-menu-container flex flex-col">
                <div class="nested-menu" (mouseleave)="closeNestedMenu1()">
                  <button
                    class="nested-hover-button hover:bg-gray-3 hover:rounded-md w-[119px]"
                    (mouseenter)="openNestedMenu1()"
                  >
                    {{ "DATA_NAME.DCT" | translate }}
                  </button>
                  <div
                    class="nested-submenu bg-white-1 ring-1 ring-black-1 rounded-md"
                    *ngIf="isNestedMenu1Open"
                    (mouseleave)="closeNestedMenu1()"
                  >
                    <div class="nested-hover-button">
                      <button
                        class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                      >
                        <a [routerLink]="navigate.toAddPath('D')">{{
                          "DATA_NAME.D" | translate
                        }}</a>
                      </button>
                      <button
                        class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                      >
                        <a [routerLink]="navigate.toAddPath('F')">{{
                          "DATA_NAME.F" | translate
                        }}</a>
                      </button>
                      <button
                        class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                      >
                        <a [routerLink]="navigate.toAddPath('A')">{{
                          "DATA_NAME.A" | translate
                        }}</a>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="nested-menu" (mouseleave)="closeNestedMenu2()">
                  <button
                    class="nested-hover-button hover:bg-gray-3 hover:rounded-md w-[119px]"
                    (mouseenter)="openNestedMenu2()"
                  >
                    {{ "DATA_NAME.CT" | translate }}
                  </button>
                  <div
                    class="nested-submenu bg-white-1 p-2 ring-1 ring-black-1 rounded-md"
                    *ngIf="isNestedMenu2Open"
                    (mouseleave)="closeNestedMenu2()"
                  >
                    <button
                      class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                    >
                      <a [routerLink]="navigate.toAddPath('C')">{{
                        "DATA_NAME.C" | translate
                      }}</a>
                    </button>
                    <button
                      class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                    >
                      <a [routerLink]="navigate.toAddPath('C')">{{
                        "DATA_NAME.P" | translate
                      }}</a>
                    </button>
                    <button
                      class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                    >
                      <a [routerLink]="navigate.toAddPath('F')">{{
                        "DATA_NAME.FR" | translate
                      }}</a>
                    </button>
                    <button
                      class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                    >
                      <a [routerLink]="navigate.toAddPath('F')">{{
                        "DATA_NAME.CT" | translate
                      }}</a>
                    </button>
                  </div>
                </div>
              </div>
              <div class="nested-button-container flex flex-col">
                <button
                  class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                >
                  {{ "DATA_NAME.OPP" | translate }}
                </button>
                <button
                  class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                >
                  {{ "DATA_NAME.TC" | translate }}
                </button>
                <button
                  class="nested-hover-button hover:bg-gray-3 hover:rounded-md"
                >
                  {{ "DATA_NAME.E" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- end ajout menu -->

        <button type="button" class="icon-btn">
          <svg-icon name="message" svgClass="myicon"></svg-icon>
        </button>

        <button type="button" class="icon-btn">
          <svg-icon name="notification" svgClass=" myicon "></svg-icon>
        </button>
      </div>

      <!-- profile Menu -->
      <div
        class="relative ml-3"
        clickOutside
        (clickOutside)="dropMenuProfile = false"
      >
        <button
          class="common-btn-white flex items-center py-1 px-1 gap-2"
          (click)="toggleDropMenuProfile($event)"
        >
          <img
            class="h-7 w-7 rounded-full"
            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt=""
          />
          <svg-icon
            name="arrowdown"
            svgClass="w-5"
            [class.rotate-180]="dropMenuProfile"
          ></svg-icon>
        </button>

        <div
          id="dropMenu"
          class="drop-menu space-y-5 p-4"
          [ngClass]="dropMenuProfile ? 'block' : 'hidden'"
        >
          <a class="item-menu-sm" routerLink="">
            <img
              class="w-5 h-5 rounded-full ring-1 ring-black-1 mr-1"
              src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
            />
            <span>Profile</span>
          </a>

          <div class="mobile-menu hidden">
            <button
              class="flex gap-20 my-1"
              [ngClass]="
                isMobileLinkActive(navigate.environmentListPath)
                  ? 'common-btn-mobile-menu-active'
                  : 'common-btn-mobile-menu'
              "
            >
              <a routerLink="" routerLinkActive="is-active">
                <span class="">Espaces de travail </span>
              </a>
              <svg-icon name="arrowdown" svgClass="w-5"></svg-icon>
            </button>

            <button
              class="flex gap-1 my-1"
              [ngClass]="
                isMobileLinkActive(navigate.environmentListPath)
                  ? 'common-btn-mobile-menu-active'
                  : 'common-btn-mobile-menu'
              "
            >
              <svg-icon name="dashboard" svgClass="w-5"></svg-icon>
              <a
                routerLink="{{ navigate.environmentListPath }}"
                routerLinkActive=""
              >
                <span class="">Dashboard</span>
              </a>
            </button>
            <button
              class="flex gap-1 my-1"
              [ngClass]="
                isMobileLinkActive(navigate.facturationPath)
                  ? 'common-btn-mobile-menu-active'
                  : 'common-btn-mobile-menu'
              "
            >
              <svg-icon name="factures" svgClass="w-5"></svg-icon>
              <a
                routerLink="{{ navigate.facturationPath }}"
                routerLinkActive=""
              >
                <span class="">Facturation</span>
              </a>
            </button>
            <button
              class="flex gap-1 my-1"
              [ngClass]="
                isMobileLinkActive(navigate.showPath)
                  ? 'common-btn-mobile-menu-active'
                  : 'common-btn-mobile-menu'
              "
            >
              <svg-icon name="rh" svgClass="w-5"></svg-icon>
              <a routerLink="" routerLinkActive="">
                <span class="">RH</span>
              </a>
            </button>
          </div>
          <hr class="dropmenu-line" />

          <a class="item-menu-sm" routerLink="{{ navigate.f_settingsPath }}">
            <svg-icon name="settings" svgClass="w-4"></svg-icon>
            <span>Paramètres</span>
          </a>

          <a class="item-menu-sm" routerLink="">
            <svg-icon name="feedback" svgClass="w-4"></svg-icon>
            <span>Feedback</span>
          </a>

          <a class="item-menu-sm" routerLink="">
            <svg-icon name="help" svgClass="w-4"></svg-icon>
            <span>Aide</span>
          </a>

          <a class="item-menu-sm" routerLink="">
            <svg-icon name="logout" svgClass="w-4"></svg-icon>
            <span>Déconnexion</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<style>
  .my-menu-class {
    position: absolute !important;
    top: 100% !important;
    left: 1000px;
  }
  ::ng-deep .nested-menu {
    position: absolute !important;
  }
  ::ng-deep.cdk-overlay-connected-position-bounding-box {
    position: absolute !important;
    width: fit-content;
    height: 0 !important;
  }

  /* .hover-button {
    font-size: 16px;
  } */

  .menu-container {
    padding: 10px;
    margin-bottom: 30px;
    top: 105%;
  }
  .nested-menu {
    position: relative;
    left: 8%;
  }
  .nested-menu:nth-child(2) {
    top: 50px;
  }
  .nested-button-container {
    margin-top: 80px !important;
  }
  .nested-hover-button {
    padding: 10px;
    font-size: 15px;
    display: block;
    text-align: start;
  }
  .nested-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
  }

  .nested-submenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>

<!-- <div class="mobile-menu">
  <a
    class="item-style flex space-x-2 w-30 items-center"
    routerLink=""
    routerLinkActive="is-active"
  >
    <span class="span-text">Espaces de travail </span>
    <svg-icon name="arrowdown" svgClass="w-4"></svg-icon>
  </a>

  <button
    class="common-btn-black flex gap-1"
    [ngClass]="isLinkActive('dashboard') ? 'common-btn-black-slider' : ''"
  >
    <svg-icon name="dashboard" svgClass="w-5"></svg-icon>
    <a routerLink="" routerLinkActive="is-active">
      <span class="">Dashboard</span>
    </a>
  </button>

  <button
    class="common-btn-black flex gap-1"
    [ngClass]="isLinkActive('facturation') ? 'common-btn-black-slider' : ''"
  >
    <svg-icon name="factures" svgClass="w-5"></svg-icon>
    <a
      routerLink="{{ navigate.facturationPath }}"
      routerLinkActive="is-active"
    >
      <span class="">Facturation</span>
    </a>
  </button>

  <button
    class="common-btn-black flex gap-1"
    [ngClass]="isLinkActive('rh') ? 'common-btn-black-slider' : ''"
  >
    <svg-icon name="rh" svgClass="w-5"></svg-icon>
    <a routerLink="" routerLinkActive="is-active">
      <span class="">RH</span>
    </a>
  </button>
</div>
 -->

<!-- <a
              class="item-style flex space-x-2 items-center"
              routerLink="{{ navigate.f_clientPath }}"
              routerLinkActive="is-active"
            >
              <svg-icon name="clients" svgClass="w-4"></svg-icon>
              <span class="span-text">Clients</span>
            </a>
            <a
              class="item-style flex space-x-2 items-center"
              routerLink="{{ navigate.f_societePath }}"
              routerLinkActive="is-active"
            >
              <svg-icon name="societes" svgClass="w-4"></svg-icon>
              <span class="span-text">Sociétés</span>
            </a>
            <a
              class="item-style flex space-x-2 items-center"
              routerLink="{{ navigate.f_devisPath }}"
              routerLinkActive="is-active"
            >
              <svg-icon name="devis" svgClass="w-4"></svg-icon>
              <span class="span-text">Devis</span>
            </a> -->
<!-- <div
              class="relative"
              clickOutside
              (clickOutside)="dropMenuFacture = false"
            >
              <button
                class="item-style flex space-x-2 items-center"
                (click)="dropMenuFacture = !dropMenuFacture"
                [class.is-active]="checkfacturesRouteIsActive()"
              >
                <svg-icon name="factures" svgClass="w-4"></svg-icon>
                <span class="span-text flex gap-2 items-center">
                  Factures
                  <svg-icon name="arrowdown" svgClass="w-4 "></svg-icon>
                </span>
              </button>

              <div class="drop-menu" *ngIf="dropMenuFacture">
                <a
                  class="item-menu-sm"
                  routerLink="{{ navigate.f_simplePath }}"
                  (click)="dropMenuFacture = false"
                  routerLinkActive="item-active"
                >
                  <span>{{ "DROP_MENU.NAVBAR.F.S" | translate }}</span>
                </a>
                <a
                  href="#"
                  class="item-menu-sm"
                  routerLink="{{ navigate.f_avoirPath }}"
                  (click)="dropMenuFacture = false"
                  routerLinkActive="item-active"
                >
                  <span>{{ "DROP_MENU.NAVBAR.F.A" | translate }}</span>
                </a>
                <a
                  href="#"
                  class="item-menu-sm"
                  routerLink="{{ navigate.f_acomptePath }}"
                  (click)="dropMenuFacture = false"
                  routerLinkActive="item-active"
                >
                  <span>{{ "DROP_MENU.NAVBAR.F.FA" | translate }}</span>
                </a>
              </div>
            </div> -->
