<div class="relative flex gap-5" clickOutside (clickOutside)="closeMenu()">
  <!-- drop menu buttons -->


  <button class="common-btn-white " (click)="toggleDropMenu()" *ngIf=" type === 'edit' ">
      <svg-icon name="3dots" svgClass="w-4"></svg-icon>
  </button>

  <button class="common-btn-gray" (click)="toggleDropMenu()" *ngIf="type === 'list' || type === 'show' ">
      <svg-icon name="3dots" svgClass="w-5"></svg-icon>
  </button>

  <!-- drop menu add -->

  <div class="drop-menu" *ngIf="dropMenu && type === 'list' ">
      <a *ngIf="for !== 'FG' && for !== 'FF'" class="item-menu-sm" routerLink="add">
          <svg-icon name="add" svgClass="w-4"></svg-icon>
          <span>{{'DROP_MENU.LIST.'+for+'.L1' |translate}}</span>
      </a>
      <a href="#" class="item-menu-sm ">
          <svg-icon name="export" svgClass="w-4"></svg-icon>
          <span>{{'DROP_MENU.LIST.'+for+'.L2' |translate}}</span>
      </a>

  </div>


  <div class="drop-menu" *ngIf="dropMenu  && (type == 'edit' || type == 'show') ">

      <ng-container *ngIf="for == 'D'">
          <button class="item-menu-{{size}}" *ngIf=" $any(data).status == DevisStatus.PROVISIONAL "
              (click)="finalizeIt()">
              <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
              <span>{{'DROP_MENU.EDIT.FN' |translate}}</span>
          </button>

          <button class="item-menu-{{size}}" *ngIf="$any(data).status == DevisStatus.FINALIZED" (click)="signeIt(signPopup)">
              <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
              <span>{{'DROP_MENU.EDIT.MCS' |translate}}</span>
          </button>

          <button class="item-menu-{{size}}" *ngIf=" $any(data).status == DevisStatus.FINALIZED" (click)="refuseIt()">
              <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
              <span>{{'DROP_MENU.EDIT.MCR' |translate}}</span>
          </button>

          <button class="item-menu-{{size}}" *ngIf=" $any(data).status == DevisStatus.SIGNED" (click)="unsigneIt()">
              <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
              <span>{{'DROP_MENU.EDIT.AS' |translate}}</span>
          </button>

          <button class="item-menu-{{size}}" *ngIf=" $any(data).status == DevisStatus.REFUSED" (click)="finalizeIt()">
              <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
              <span>{{'DROP_MENU.EDIT.AR' |translate}}</span>
          </button>
      </ng-container>


    <ng-container *ngIf="for=='F' ||for=='FA' ">
        <button class="item-menu-{{size}}" *ngIf="($any(data).status == FactureSimpleStatus.PROVISIONAL)||($any(data).status == FactureAvoirStatus.PROVISIONAL)||($any(data).status == FactureAcompteStatus.PROVISIONAL)"
            (click)="finalizeIt()">
            <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
            <span>{{'DROP_MENU.EDIT.FN' |translate}}</span>
        </button>

        <button class="item-menu-{{size}}" *ngIf="($any(data).status == FactureSimpleStatus.FINALIZED) ||($any(data).status == FactureAcompteStatus.FINALIZED)"  (click)="PayIt(payPopup)">
            <svg-icon name="money" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
            <span>{{'DROP_MENU.EDIT.MCP' |translate}}</span>
        </button>


    </ng-container>

    <ng-container *ngIf="for=='A' ">
      <button class="item-menu-{{size}}" *ngIf="$any(data).status == FactureAvoirStatus.PROVISIONAL"
          (click)="finalizeIt()">
          <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
          <span>{{'DROP_MENU.EDIT.FN' |translate}}</span>
      </button>

      <button class="item-menu-{{size}}" *ngIf="$any(data).status == FactureAvoirStatus.FINALIZED"  (click)="refundIt(refundPopup)">
          <svg-icon name="money" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
          <span>{{'DROP_MENU.EDIT.MCRM' |translate}}</span>
      </button>

  </ng-container>

  <!--Facture fournisseur simple-->
  <ng-container *ngIf="for=='SF' ">
    <button class="item-menu-{{size}}" *ngIf="($any(data).status == SimpleFournisseurStatus.DRAFT)"
        (click)="resolveIt()">
        <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
        <span>{{'DROP_MENU.EDIT.ARG' |translate}}</span>
    </button>

    <button class="item-menu-{{size}}" *ngIf="($any(data).status == SimpleFournisseurStatus.TOBERESOLVED)  ||($any(data).status == SimpleFournisseurStatus.PARTIAL)"  (click)="addPay(payPopup)">
        <svg-icon name="money" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
        <span>{{'DROP_MENU.EDIT.MCP' |translate}}</span>
    </button>
    <button class="item-menu-{{size}}" *ngIf="($any(data).status == SimpleFournisseurStatus.TOBERESOLVED) ||($any(data).status == SimpleFournisseurStatus.PARTIAL)" (click)="addPay(payPopup)" >
      <svg-icon name="money" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
      <span>{{'DROP_MENU.EDIT.AP' |translate}}</span>
  </button>

</ng-container>

     <ng-container *ngIf="for === 'C' || for === 'S' || for === 'D' || for === 'F' || for === 'O' || for === 'A' || for === 'FA' || for === 'FR' || for === 'SF'">

          <a class="item-menu-{{size}} " [routerLink]="'edit/'+data.id+'-'+data.slug" >
              <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>

            <span *ngIf="$any(data).status && ($any(data).status != DevisStatus.PROVISIONAL && $any(data).status != FactureSimpleStatus.PROVISIONAL && $any(data).status != FactureAvoirStatus.PROVISIONAL
            && $any(data).status != SimpleFournisseurStatus.DRAFT && $any(data).status != SimpleFournisseurStatus.TOBERESOLVED && $any(data).status != SimpleFournisseurStatus.PARTIAL); else modifyMotCle">
              {{ 'DROP_MENU.EDIT.MMC' | translate }}
            </span>
            <ng-template #modifyMotCle><span>{{'DROP_MENU.EDIT.M' |translate}}</span></ng-template>

          </a>

          <button class="item-menu-{{size}}" (click)="delete(data.id,deletepopup)" *ngIf="for == 'C' || for == 'O' || for == 'S'  || for=='FR' ||
          (for == 'D'  && $any(data).status  == DevisStatus.PROVISIONAL )||(for == 'F'  && $any(data).status  == FactureSimpleStatus.PROVISIONAL )||(for == 'A'  && $any(data).status  == FactureAvoirStatus.PROVISIONAL ) ||

          (for == 'FA'  && $any(data).status  == FactureAcompteStatus.PROVISIONAL )||(for == 'SF'  && $any(data).status  == SimpleFournisseurStatus.DRAFT )||(for == 'SF'  && $any(data).status  == SimpleFournisseurStatus.TOBERESOLVED )
          ||(for == 'SF'  && $any(data).status  == SimpleFournisseurStatus.LATE )">

              <svg-icon name="delete" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
              <span>{{'DROP_MENU.EDIT.SP' |translate}}</span>
          </button>

      </ng-container>


      <ng-container *ngIf="for == 'SF' ">

        <button class="item-menu-{{size}}" (click)="Annulee()" *ngIf="( $any(data).status  != SimpleFournisseurStatus.CANCELLED && $any(data).status  != SimpleFournisseurStatus.PAID && $any(data).status  != SimpleFournisseurStatus.LATE )">
          <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
          <span>{{'DROP_MENU.EDIT.MCA' |translate}}</span>
        </button>
        <button class="item-menu-{{size}}" *ngIf="( $any(data).status  != SimpleFournisseurStatus.LATE)" (click)="lateIt()">
          <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
          <span>{{'DROP_MENU.EDIT.MER' |translate}}</span>
        </button>

        <div class="flex flex-col space-y-2">
          <hr class="drop-menu-line">
          <span class="text-gray-2 mt-10 text-[10px] " >{{'DROP_MENU.EDIT.LS' |translate}}</span>
        </div>
        <button class="item-menu-{{size}}" (click)="part_delivery(parLivPopup)">
          <svg-icon name="livraison" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
          <span>{{'DROP_MENU.EDIT.LP' |translate}}</span>
        </button>
        <button class="item-menu-{{size}}" (click)="delivered(livPopup)" >
          <svg-icon name="livraison" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
          <span>{{'DROP_MENU.EDIT.LV' |translate}}</span>
        </button>

      </ng-container>


      <!-- for bon de livraison  -->
      <ng-container *ngIf="for == 'BL' ">

        <a class="item-menu-{{size}} " [routerLink]="'edit/'+data.id+'-'+data.slug" >
            <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
            <span
                *ngIf="$any(data).blStatus && ($any(data).blStatus == blstatus.Invoiced);
                else modifyMotCle">
                {{'DROP_MENU.EDIT.MMC'|translate}}</span>
            <ng-template #modifyMotCle><span>{{'DROP_MENU.EDIT.M' |translate}}</span></ng-template>
        </a>

        <button class="item-menu-{{size}}" (click)="delete(data.id,deletepopup)">
            <svg-icon name="delete" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
            <span>{{'DROP_MENU.EDIT.SP' |translate}}</span>
        </button>

    </ng-container>



      <div class="flex flex-col space-y-2">
          <hr class="drop-menu-line">
          <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='C'">{{'DROP_MENU.EDIT.PC' |translate}}</span>
          <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='S'">{{'DROP_MENU.EDIT.PS' |translate}}</span>
          <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='D'">{{'DROP_MENU.EDIT.PD' |translate}}</span>
          <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='F'">{{'DROP_MENU.EDIT.POF' |translate}}</span>
          <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='O'">{{'DROP_MENU.EDIT.PO' |translate}}</span>
          <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='A'">{{'DROP_MENU.EDIT.PA' |translate}}</span>

          <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='SF'">{{'DROP_MENU.EDIT.POF' |translate}}</span>

          <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='BL'">{{'Pour ce Bon de Livraison' |translate}}</span>

      </div>

      <ng-container *ngIf=" for == 'D' || for == 'F'|| for == 'A' || for == 'FA' || for == 'SF' ">
          <a class="item-menu-{{size}}" href="#">
            <svg-icon name="export" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
              <span>{{'DROP_MENU.EDIT.T' |translate}}</span>
          </a>
          <a class="item-menu-{{size}}" href="#">
            <svg-icon name="email" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
              <span>{{'DROP_MENU.EDIT.EPE' |translate}}</span>
          </a>
          <a class="item-menu-{{size}}" href="#">
            <svg-icon name="copy" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
              <span>{{'DROP_MENU.EDIT.CU' |translate}}</span>
          </a>
      </ng-container>

      <ng-container *ngIf="for == 'D' && $any(data).status == DevisStatus.SIGNED">
          <hr class="drop-menu-line">
          <a class="item-menu-{{size}}" href="#">
              <span>{{'DROP_MENU.EDIT.CF' |translate}}</span>
          </a>
          <a class="item-menu-{{size}}" href="#">
              <span>{{'DROP_MENU.EDIT.CFA' |translate}}</span>
          </a>
      </ng-container>


      <ng-container *ngIf="for == 'S' || for == 'C' ">
          <a class="item-menu-{{size}}" href="#">
              <span>{{'DROP_MENU.EDIT.CA' |translate}}</span>
          </a>
          <a class="item-menu-{{size}}" href="#">
              <span>{{'DROP_MENU.EDIT.CD' |translate}}</span>
          </a>
          <a class="item-menu-{{size}}" href="#">
              <span>{{'DROP_MENU.EDIT.CF' |translate}}</span>
          </a>
      </ng-container>

       <ng-container *ngIf="for == 'C'">
        <a class="item-menu-{{size}}" href="#">
            <span>{{'DROP_MENU.EDIT.CO' |translate}}</span>
        </a>
       </ng-container>

      <ng-container *ngIf="for == 'D'">
          <hr class="drop-menu-line">
          <a class="item-menu-{{size}}" href="#">
              <span>{{'DROP_MENU.EDIT.DD' |translate}}</span>
          </a>
          <a class="item-menu-{{size}}" href="#">
              <span>{{'DROP_MENU.EDIT.DF' |translate}}</span>
          </a>
      </ng-container>


     <ng-container *ngIf="for == 'F'|| for=='A'">

      <ng-container *ngIf="for == 'F'">
            <hr class="drop-menu-line">
            <a  class="text-gray-2 mt-10 text-[10px]" href="#">
              <span>{{'DROP_MENU.EDIT.POF' |translate}}</span>
            </a>
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.CAV' |translate}}</span>
            </a>
      </ng-container>
        <hr class="drop-menu-line">
        <a class="item-menu-{{size}}" href="#">
            <span>{{'DROP_MENU.EDIT.DF' |translate}}</span>
        </a>
        <a class="item-menu-{{size}}" href="#">
            <span>{{'DROP_MENU.EDIT.DD' |translate}}</span>
        </a>
        <a class="item-menu-{{size}}" href="#">
          <span>{{'DROP_MENU.EDIT.DO' |translate}}</span>
      </a>
    </ng-container>


    <ng-container *ngIf="for == 'O'">

      <button class="item-menu-{{size}}" (click)="Annulee()">

        <span>{{'DROP_MENU.EDIT.MCA' |translate}}</span>
      </button>

     <button class="item-menu-{{size}}" (click)="Perdue()">

      <span>{{'DROP_MENU.EDIT.MCPR' |translate}}</span>
     </button>

     <hr class="drop-menu-line"><br>

      <a  class="text-gray-2 mt-15 text-[10px]" href="#">
        <span>{{'DROP_MENU.EDIT.PO' |translate}}</span>
      </a>

      <a class="item-menu-{{size}}"  [routerLink]="['/environment/1/facturation/devis/add']" [queryParams]="{ id: data.id }" >
          <span>{{'DROP_MENU.EDIT.CD' |translate}}</span>
      </a>
       <a class="item-menu-{{size}}" href="#">
          <span>{{'DROP_MENU.EDIT.CF' |translate}}</span>
      </a>

      <a class="item-menu-{{size}}" href="#">
        <span>{{'DROP_MENU.EDIT.DO' |translate}}</span>
      </a>

    </ng-container>

     <!-- for bon de livraison  -->
     <ng-container *ngIf="for == 'BL'">

      <button class="item-menu-{{size}}" (click)="Partfacturer()">

        <span>{{'DROP_MENU.EDIT.PF' |translate}}</span>
      </button>

     <button class="item-menu-{{size}}" (click)="facturer(bonpopup)">

      <span>{{'DROP_MENU.EDIT.MCF' |translate}}</span>
     </button>

     <hr class="drop-menu-line">

      <a class="item-menu-{{size}}" href="#">
        <span>{{'DROP_MENU.EDIT.CFF' |translate}}</span>
      </a>

    </ng-container>


    <ng-container *ngIf="for == 'SF'">

      <div class="flex flex-col space-y-2">
          <hr class="drop-menu-line">
          <a class="item-menu-{{size}}" href="#">
            <span>{{'DROP_MENU.EDIT.CAF' |translate}}</span>
          </a>
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.CBL' |translate}}</span>
            </a>
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.DF' |translate}}</span>
            </a>
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.DD' |translate}}</span>
            </a>

      </div>

      </ng-container>


  </div>





  <!-- drop menu Filter -->
  <ng-container *ngIf="for == 'D' && type == 'filter'">


    <ng-select class="custom-select-gray" [items]="dates_devis" [(ngModel)]="selectedDate"
        (change)="sortData(selectedDate) " >
     </ng-select>

      <div class="hidden sm:flex sm:gap-2 sm:text-sm">
          <button class="common-btn-gray" (click)="changeFilterStatus(null)"
              [class.common-btn-gray-active]="!statusActive">{{ 'STATUS.T' |translate}}</button>
          <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.PROVISIONAL)"
              [class.common-btn-gray-active]="statusActive == DevisStatus.PROVISIONAL">{{ 'STATUS.PROVISIONAL'
              |translate
              }}</button>
          <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.FINALIZED)"
              [class.common-btn-gray-active]="statusActive == DevisStatus.FINALIZED">{{ 'STATUS.FINALIZED' |translate
              }}</button>
          <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.SIGNED)"
              [class.common-btn-gray-active]="statusActive == DevisStatus.SIGNED">{{ 'STATUS.SIGNED' |translate
              }}</button>
          <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.REFUSED)"
              [class.common-btn-gray-active]="statusActive == DevisStatus.REFUSED">{{ 'STATUS.REFUSED' |translate
              }}</button>
      </div>

      <button class="common-btn-black flex items-center gap-1 text-sm sm:hidden" (click)="toggleDropMenu()">
          <span *ngIf="statusActive == null">{{ 'STATUS.T' |translate}}</span>
          <span *ngIf="statusActive == DevisStatus.PROVISIONAL">{{ 'STATUS.PROVISIONAL' |translate}}</span>
          <span *ngIf="statusActive == DevisStatus.FINALIZED">{{ 'STATUS.FINALIZED' |translate}}</span>
          <span *ngIf="statusActive == DevisStatus.SIGNED">{{ 'STATUS.SIGNED' |translate}}</span>
          <span *ngIf="statusActive == DevisStatus.REFUSED">{{ 'STATUS.REFUSED' |translate}}</span>
          <svg-icon name="arrowdown" svgClass="w-4" *ngIf="!dropMenu ; else arrowdown"></svg-icon>
          <ng-template #arrowdown>
              <svg-icon name="arrowup" svgClass="w-4" *ngIf="dropMenu ; else arrowdown"></svg-icon>
          </ng-template>
      </button>

      <div class="drop-menu text-sm sm:hidden" *ngIf="dropMenu">
          <button class="common-btn-gray" (click)="changeFilterStatus(null)" *ngIf="statusActive">{{ 'STATUS.T'
              |translate}}</button>
          <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.PROVISIONAL)"
              *ngIf="statusActive != DevisStatus.PROVISIONAL">{{ 'STATUS.PROVISIONAL'
              |translate
              }}</button>
          <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.FINALIZED)"
              *ngIf="statusActive != DevisStatus.FINALIZED">{{ 'STATUS.FINALIZED' |translate
              }}</button>
          <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.SIGNED)"
              *ngIf="statusActive != DevisStatus.SIGNED">{{ 'STATUS.SIGNED' |translate
              }}</button>
          <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.REFUSED)"
              *ngIf="statusActive != DevisStatus.REFUSED">{{ 'STATUS.REFUSED' |translate
              }}</button>
      </div>
  </ng-container>


  <!-- drop menu Filter  For Facture -->

  <ng-container *ngIf=" for == 'FG' && type == 'filter'">

    <div class="hidden sm:flex sm:gap-2 sm:text-sm">


        <button class="common-btn-gray" routerLink="{{navigate.f_simplePath}}" >{{ 'DATA_NAME.FS'|translate}}</button>
        <button class="common-btn-gray" routerLink="{{navigate.f_avoirPath}}">{{ 'TITLE.A' |translate}}</button>
        <button class="common-btn-gray" routerLink="{{navigate.f_acomptePath}}">{{ 'DATA_NAME.AC' |translate}}</button>
    </div>

</ng-container>

 <!-- drop menu Filter  For Facture Fournisseur -->

<ng-container *ngIf=" for == 'FF' && type == 'filter'">

  <div class="hidden sm:flex sm:gap-2 sm:text-sm">

      <button class="common-btn-gray" routerLink="{{navigate.f_simpleFournisseurPath}}" >{{ 'DATA_NAME.SF'|translate}}</button>
      <button class="common-btn-gray" routerLink="{{navigate.f_avoirFournisseurPath}}">{{ 'DATA_NAME.AFS' |translate}}</button>
  </div>

</ng-container>


  <!-- drop menu Filter  For FactureSimple -->

  <ng-container *ngIf=" for == 'F' && type == 'filter'">

    <div class="hidden sm:flex sm:gap-2 sm:text-sm">

      <ng-select class="custom-select-gray" [items]="dates" [(ngModel)]="selectedDate"
      (change)="sortData(selectedDate) " >
      </ng-select>

            <button class="common-btn-gray" (click)="changeFilterStatusFacture(null)"
                [class.common-btn-gray-active]="!statusActiveFacture">{{ 'STATUS.TE' |translate}}</button>
            <button class="common-btn-gray" (click)="changeFilterStatusFacture(FactureSimpleStatus.PROVISIONAL)"
                [class.common-btn-gray-active]="statusActiveFacture == FactureSimpleStatus.PROVISIONAL">{{ 'STATUS.PROVISIONAL'
                |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatusFacture(FactureSimpleStatus.FINALIZED)"
                [class.common-btn-gray-active]="statusActiveFacture == FactureSimpleStatus.FINALIZED">{{ 'STATUS.FINALIZED' |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatusFacture(FactureSimpleStatus.PAYED)"
                [class.common-btn-gray-active]="statusActiveFacture == FactureSimpleStatus.PAYED">{{ 'STATUS.PAYEDF' |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatusFacture(FactureSimpleStatus.TOPAYED)"
                [class.common-btn-gray-active]="statusActiveFacture == FactureSimpleStatus.TOPAYED">{{ 'STATUS.APAYEDF' |translate
                }}</button>
        </div>

    </ng-container>

     <!-- drop menu Filter  For Facture Avoir -->

    <ng-container *ngIf="for == 'A' && type == 'filter'">

      <div class="hidden sm:flex sm:gap-2 sm:text-sm">

        <ng-select class="custom-select-gray" [items]="dates_avoir" [(ngModel)]="selectedDateAvoir"
        (change)="sortData(selectedDateAvoir) " >
        </ng-select>

          <button class="common-btn-gray" (click)="changeFilterStatusAvoire(null)"
              [class.common-btn-gray-active]="!statusActiveAvoire">{{ 'STATUS.TE' |translate}}</button>
          <button class="common-btn-gray" (click)="changeFilterStatusAvoire(FactureAvoirStatus.PROVISIONAL)"
              [class.common-btn-gray-active]="statusActiveAvoire == FactureAvoirStatus.PROVISIONAL">{{ 'STATUS.PROVISIONAL'
              |translate
              }}</button>
          <button class="common-btn-gray" (click)="changeFilterStatusAvoire(FactureAvoirStatus.FINALIZED)"
              [class.common-btn-gray-active]="statusActiveAvoire == FactureAvoirStatus.FINALIZED">{{ 'STATUS.FINALIZED' |translate
              }}</button>
          <button class="common-btn-gray" (click)="changeFilterStatusAvoire(FactureAvoirStatus.REFUNDED)"
              [class.common-btn-gray-active]="statusActiveAvoire == FactureAvoirStatus.REFUNDED">{{ 'STATUS.REFUNDED' |translate
              }}</button>

      </div>

  </ng-container>


  <!-- drop menu Filter  For FactureAcompte -->

  <ng-container *ngIf="for == 'FA' && type == 'filter'">

    <div class="hidden sm:flex sm:gap-2 sm:text-sm">

      <ng-select class="custom-select-gray" [items]="dates" [(ngModel)]="selectedDate"
      (change)="sortData(selectedDate) " >
      </ng-select>

        <button class="common-btn-gray" (click)="changeFilterStatusAcomte(null)"
            [class.common-btn-gray-active]="!statusActiveAcompte">{{ 'STATUS.TE' |translate}}</button>
        <button class="common-btn-gray" (click)="changeFilterStatusAcomte(FactureAcompteStatus.PROVISIONAL)"
            [class.common-btn-gray-active]="statusActiveAcompte == FactureAcompteStatus.PROVISIONAL">{{ 'STATUS.PROVISIONAL'
            |translate
            }}</button>
        <button class="common-btn-gray" (click)="changeFilterStatusAcomte(FactureAcompteStatus.FINALIZED)"
            [class.common-btn-gray-active]="statusActiveAcompte == FactureAcompteStatus.FINALIZED">{{ 'STATUS.FINALIZED' |translate
            }}</button>
        <button class="common-btn-gray" (click)="changeFilterStatusAcomte(FactureAcompteStatus.PAYED)"
            [class.common-btn-gray-active]="statusActiveAcompte == FactureAcompteStatus.PAYED">{{ 'STATUS.PAYEDF' |translate
            }}</button>
    </div>

</ng-container>

  <!-- drop menu Filter  For OPP -->
  <ng-container *ngIf="(for == 'O' ) && type == 'filter'">

    <div class="hidden sm:flex sm:gap-2 sm:text-sm">

        <button class="common-btn-gray" (click)="changeFilterOpportunite(null)"
            [class.common-btn-gray-active]="!statusActiveOpp">{{ 'STATUS.TE' |translate}}</button>
        <button class="common-btn-gray" (click)="changeFilterOpportunite(OppStatus.INPROGRESS)"
            [class.common-btn-gray-active]="statusActiveOpp == OppStatus.INPROGRESS">{{ 'STATUS.INPROGRESS'
            |translate
            }}</button>
        <button class="common-btn-gray" (click)="changeFilterOpportunite(OppStatus.WON)"
            [class.common-btn-gray-active]="statusActiveOpp == OppStatus.WON">{{ 'STATUS.WON' |translate
            }}</button>
        <button class="common-btn-gray" (click)="changeFilterOpportunite(OppStatus.LOST)"
            [class.common-btn-gray-active]="statusActiveOpp == OppStatus.LOST">{{ 'STATUS.LOST' |translate
            }}</button>
        <button class="common-btn-gray" (click)="changeFilterOpportunite(OppStatus.CANCLED)"
            [class.common-btn-gray-active]="statusActiveOpp == OppStatus.CANCLED">{{ 'STATUS.CANCLED' |translate
            }}</button>
        <button class="common-btn-gray" (click)="changeFilterOpportunite(OppStatus.CLOSED)"
            [class.common-btn-gray-active]="statusActiveOpp == OppStatus.CLOSED">{{ 'STATUS.CLOSED' |translate
            }}</button>
        <button class="common-btn-gray" (click)="changeFilterOpportunite(OppStatus.LATE)"
            [class.common-btn-gray-active]="statusActiveOpp == OppStatus.LATE">{{ 'STATUS.LATE' |translate
            }}</button>
    </div>

</ng-container>



  <!-- drop menu Filter  For Facture Fournisseur Simple -->

  <ng-container *ngIf=" for == 'SF' && type == 'filter'">

    <div class="hidden sm:flex sm:gap-2 sm:text-sm">

      <!-- <ng-select class="custom-select-gray" [items]="dates" [(ngModel)]="selectedDate"
      (change)="sortData(selectedDate) " >
      </ng-select> -->

            <button class="common-btn-gray" (click)="changeFilterStatusSimpleFour(null)"
                [class.common-btn-gray-active]="!statusActiveSFournisseur">{{ 'STATUS.TE' |translate}}</button>
            <button class="common-btn-gray" (click)="changeFilterStatusSimpleFour(SimpleFournisseurStatus.DRAFT)"
                [class.common-btn-gray-active]="statusActiveSFournisseur == SimpleFournisseurStatus.DRAFT">{{ 'STATUS.DRAFT'
                |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatusSimpleFour(SimpleFournisseurStatus.TOBERESOLVED)"
                [class.common-btn-gray-active]="statusActiveSFournisseur == SimpleFournisseurStatus.TOBERESOLVED">{{ 'STATUS.TOBERESOLVED' |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatusSimpleFour(SimpleFournisseurStatus.PARTIAL)"
                [class.common-btn-gray-active]="statusActiveSFournisseur == SimpleFournisseurStatus.PARTIAL">{{ 'STATUS.PARTIAL' |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatusSimpleFour(SimpleFournisseurStatus.PAID)"
                [class.common-btn-gray-active]="statusActiveSFournisseur == SimpleFournisseurStatus.PAID">{{ 'STATUS.PAID' |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatusSimpleFour(SimpleFournisseurStatus.LATE)"
                [class.common-btn-gray-active]="statusActiveSFournisseur == SimpleFournisseurStatus.LATE">{{ 'STATUS.LATE' |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatusSimpleFour(SimpleFournisseurStatus.CANCELLED)"
                [class.common-btn-gray-active]="statusActiveSFournisseur == SimpleFournisseurStatus.CANCELLED">{{ 'STATUS.CANCLED' |translate
                }}</button>

    </div>

    </ng-container>


<!-- drop menu Filter  For bpn livraison  -->
<ng-container *ngIf="(for == 'BL' ) && type == 'filter'">

    <div class="hidden sm:flex sm:gap-2 sm:text-sm">

        <button class="common-btn-gray" (click)="changeFilterbonlivraison(null)"
            [class.common-btn-gray-active]="!statusActiveBL">{{ 'STATUS.TE' |translate}}</button>
        <button class="common-btn-gray" (click)="changeFilterbonlivraison(blstatus.Draft)"
            [class.common-btn-gray-active]="statusActiveBL == blstatus.Draft">{{ 'STATUS.Draft'
            |translate
            }}</button>
        <button class="common-btn-gray" (click)="changeFilterbonlivraison(blstatus.Partially_Invoiced)"
            [class.common-btn-gray-active]="statusActiveBL == blstatus.Partially_Invoiced">{{ 'STATUS.Partially_Invoiced' |translate
            }}</button>
        <button class="common-btn-gray" (click)="changeFilterbonlivraison(blstatus.Invoiced)"
            [class.common-btn-gray-active]="statusActiveBL == blstatus.Invoiced">{{ 'STATUS.Invoiced' |translate
            }}</button>

    </div>

</ng-container>

</div>


<!-- Popup For facture avoir  : date de reboursement-->
<ng-template #refundPopup let-modal>
<div class="space-y-5" >
  <div class="flex flex-col-2 gap-x-44" >
    <span class="secondary-title text-base">{{'MODAL.TITLE.REM'| translate}}  </span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

    <div class=" text-sm grid grid-cols-1 gap-3 ">
      <div class="flex flex-col gap-2">
        <label for="date_remboursement">{{'MODAL.INPUT.REM' | translate}} :</label>
        <input type="date" class="common-input-white" id="date_remboursement" [(ngModel)]="dateRem">
      </div>
      <div  class="my-dialog-actions" >
        <button class=" common-btn-black col-span-2" data-dismiss="modal" appDebounceClick (debounceClick)="refundCard($any(data), modal)">
           {{'FORM.BUTTON.C' | translate}}
          </button>
        <button class=" common-btn-gray-3 " (click)="modal.dismiss('Cross click')"  >
             <span>{{'FORM.BUTTON.A' | translate}} </span>
        </button>
        </div>
      </div>
  </div>

</ng-template>

<!-- Popup For facture simple : date paiement  -->
<ng-template #payPopup let-modal>
<div class="space-y-5" >
  <div class="flex flex-col-2 gap-x-52" >
    <span class="secondary-title text-base">{{'MODAL.TITLE.PAY'| translate}}  </span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

    <div class=" text-sm grid grid-cols-1 gap-3 ">
      <div class="flex flex-col gap-2">
        <label >{{'MODAL.INPUT.PAY' | translate}} :</label>
        <input type="date" class="common-input-white"[(ngModel)]="datePay">
      </div>
      <div  class="my-dialog-actions" >
        <button class=" common-btn-black col-span-2" data-dismiss="modal" appDebounceClick (debounceClick)="payCard($any(data), modal)">
           {{'FORM.BUTTON.C' | translate}}
          </button>
        <button class=" common-btn-gray-3 " (click)="modal.dismiss('Cross click')"  >
             <span>{{'FORM.BUTTON.A' | translate}} </span>
        </button>
        </div>
      </div>
  </div>

</ng-template>


<!-- signature date for Devis -->
<ng-template #signPopup let-modal>
<div class="space-y-5" >
  <div class="flex flex-col-2 gap-x-52" >
    <span class="secondary-title text-base">{{'MODAL.TITLE.SIG'| translate}}  </span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class=" text-sm grid grid-cols-1 gap-3 ">
      <div class="flex flex-col gap-2">
        <label for="date_signature">{{'MODAL.INPUT.SIG' | translate}} :</label>
        <input type="date" class="common-input-white" id="date_signature" [(ngModel)]="dateSign">
      </div>
      <div  class="my-dialog-actions" >
        <button class=" common-btn-black col-span-2" data-dismiss="modal" appDebounceClick (debounceClick)="singdCard($any(data), modal)">
           {{'FORM.BUTTON.C' | translate}}
          </button>
        <button class=" common-btn-gray-3 " (click)="modal.dismiss('Cross click')"  >
             <span>{{'FORM.BUTTON.A' | translate}} </span>
        </button>
        </div>
      </div>
  </div>

</ng-template>


<!-- Popup For facture fournisseur simple : partial delivered statuts  -->
<ng-template #parLivPopup let-modal>
  <div class="space-y-5" >
    <div class="flex flex-col-2 gap-x-52" >
      <span class="secondary-title text-base">{{'MODAL.TITLE.LS'| translate}}  </span>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

      <div class=" text-sm grid grid-cols-1 gap-3 ">
        <div class="grid flex-cols-3 gap-2">
          <div class="flex flex-col gap-2">
            <p>{{'MODAL.INPUT.M1' | translate}} </p>
            <p>1. {{'MODAL.INPUT.M2' | translate}} </p>
            <p>2. {{'MODAL.INPUT.M3' | translate}}</p>
          </div>
        </div>
        <div  class="my-dialog-actions" >
          <button class=" common-btn-black " data-dismiss="modal" appDebounceClick (debounceClick)="createBLCard($any(data), modal)">
             {{'FORM.BUTTON.CBL' | translate}}
            </button>
          <button class=" common-btn-black " data-dismiss="modal" appDebounceClick (debounceClick)="part_deliveryCard($any(data), modal)">
              {{'FORM.BUTTON.MLS' | translate}}
             </button>
          <button class=" common-btn-gray-3 " (click)="modal.dismiss('Cross click')"  >
               <span>{{'FORM.BUTTON.A' | translate}} </span>
          </button>
          </div>
        </div>
    </div>

  </ng-template>


<!-- Popup For facture fournisseur simple : delivered statuts  -->
<ng-template #livPopup let-modal>
  <div class="space-y-5" >
    <div class="flex flex-col-2 gap-x-52" >
      <span class="secondary-title text-base">{{'MODAL.TITLE.LS'| translate}}  </span>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

      <div class=" text-sm grid grid-cols-1 gap-3 ">
        <div class="grid flex-cols-3 gap-2">
          <div class="flex flex-col gap-2">
            <p>{{'MODAL.INPUT.M1' | translate}} </p>
            <p>1. {{'MODAL.INPUT.M2' | translate}} </p>
            <p>2. {{'MODAL.INPUT.M3' | translate}}</p>
          </div>
        </div>
        <div  class="my-dialog-actions" >
          <button class=" common-btn-black " data-dismiss="modal" appDebounceClick (debounceClick)="createBLCard($any(data), modal)">
             {{'FORM.BUTTON.CBL' | translate}}
            </button>
          <button class=" common-btn-black " data-dismiss="modal" appDebounceClick (debounceClick)="deliveredCard($any(data), modal)">
              {{'FORM.BUTTON.MLS' | translate}}
             </button>
          <button class=" common-btn-gray-3 " (click)="modal.dismiss('Cross click')"  >
               <span>{{'FORM.BUTTON.A' | translate}} </span>
          </button>
          </div>
        </div>
    </div>

  </ng-template>




<!-- Popup For Bon de livraison : facturer  -->
<ng-template #bonpopup let-modal>
  <div class="space-y-5 " style="width: 400px;" >

    <div class="flex flex-col-2 gap-x-52" >
      <span class="secondary-title text-base"> Message Systeme </span>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>

    </div>

    <div class=" text-sm grid grid-cols-1 gap-3 ">

      <div class="flex flex-col gap-2">
        <p>Pour changer l'état de facturation de ce document, vous pouvez :</p>
        <p>1. Créer une facture fournisseur</p>
        <p>2. Mettre à jour directement l'état de facturation</p>
      </div>

    <div  class="my-dialog-actions" >
      <button class=" common-btn-black " data-dismiss="modal">
        Créer une facture
        </button>
      <button class=" common-btn-black "  data-dismiss="modal" (click)="updateFacturationStatus(modal)">
        Modifier l'état
         </button>
      <button class=" common-btn-gray-3 " (click)="modal.dismiss('Cross click')"  >
           <span>{{'FORM.BUTTON.A' | translate}} </span>
      </button>
      </div>

    </div>
  </div>

</ng-template>




<!-- Popup Delete -->
<ng-template #deletepopup let-modal>
  <div class="space-y-5 " style="width: 400px;" >

    <div class="flex flex-col-2 gap-x-52" >
      <span class="secondary-title text-base"> Message Systeme </span>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class=" text-sm grid grid-cols-1 gap-3 ">
      <div class="flex flex-col gap-2">
        <p> Êtes-vous sûr de vouloir supprimer ?</p>
      </div>
    <div  class="my-dialog-actions" >
    <button class=" common-btn-black col-span-2" data-dismiss="modal"  (click)="deleteConfirmed(modal)">
      supprimer
    </button>
    <button class=" common-btn-gray-3 " (click)="modal.dismiss('Cross click')"  >
      <span>{{'FORM.BUTTON.A' | translate}} </span>
    </button>
    </div>
    </div>
  </div>
</ng-template>

