<div class="relative flex gap-5" clickOutside (clickOutside)="closeMenu()">

  <button class="common-btn-white " (click)="toggleDropMenu()" *ngIf=" type === 'edit' ">
    <svg-icon name="3dots" svgClass="w-4"></svg-icon>
  </button>

  <button class="common-btn-gray" (click)="toggleDropMenu()" *ngIf="type === 'list' || type === 'show' ">
      <svg-icon name="3dots" svgClass="w-5"></svg-icon>
  </button>

  <div class="drop-menu" *ngIf="dropMenu && type == 'list' ">

      <button class="item-menu-sm" (click)="onClicked()">
          <svg-icon name="add" svgClass="w-4"></svg-icon>
          <span *ngIf="for == 'DP' ">{{'DROP_MENU.LIST.DP.L1' |translate}}</span>
      </button>


      <a class="item-menu-sm" href="#">
        <svg-icon name="export" svgClass="w-4"></svg-icon>
        <span *ngIf="for == 'DP' ">{{'DROP_MENU.LIST.DP.L2' |translate}}</span>
      </a>

  </div>


    <!-- drop menu edit -->
    <!-- <div class="drop-menu" *ngIf="dropMenu  && type == 'edit'  ">


      <ng-container *ngIf=" for == 'DP'  ">
          <button class="item-menu-{{size}}" typeM="showModal"   (click)="openModel('showModal')">
              <svg-icon name="add" svgClass="w-4"></svg-icon>
              <span>{{'DROP_MENU.EDIT.V' |translate}}</span>
          </button>
          <button class="item-menu-{{size}}" typeM="editModal" href="#" (click)="openModel('editModal')">
              <svg-icon name="edit" svgClass="w-4"></svg-icon>
              <span>{{'DROP_MENU.EDIT.M' |translate}}</span>
          </button>
          <button class="item-menu-{{size}}" href="#" (click)="openModel('delModal')">
              <svg-icon name="delete" svgClass="w-4"></svg-icon>
              <span>{{'DROP_MENU.EDIT.SP' |translate}}</span>
          </button>
      </ng-container>
    </div> -->

</div>
