
<section class="h-[100vh]">
  <app-top-bar for="SF" type="list"  ></app-top-bar>
  <app-empty-data-message for="SF" *ngIf="isEmpty"></app-empty-data-message>

  <div>

    <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-10 ">
          <app-card *ngFor="let facture of factureFournissuers | paginate : {
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: count
            }; let i = index"
          for="SF" [data]="facture" (refreshListPage)="onRefresh()"></app-card>
      </div>

      <app-pagination (pageChange)="pageChange($event)" (pageSizeChange)="pageSizeChange($event)"></app-pagination>


  </div>

</section>
