
<app-top-bar for="D" type="show" sizeMenu="sm" [data]="this.devis" ></app-top-bar>

<section class="grid grid-cols-2 md:grid-cols-2 gap-2 mt-11 ">
	<!-- Informations column -->

	<div class="flex flex-col gap-6 text-sm ">
		<div>
			<span class="secondary-title text-base">{{'FORM.TITLE.INF'|translate}}</span>
		</div>
		<div class="flex flex-col space-y-8 " >
			<div class="flex flex-col space-y-3 " *ngIf="devis.status" >
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">Status :</span>
          <div class="col-span-3">{{devis.status}}</div></div>
				<hr>
			</div>
      <div class="flex flex-col space-y-3 " *ngIf="devis.status" >
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">Status :</span>
          <div class="col-span-3">{{devis.status}}</div></div>
				<hr>
			</div>

		</div>

	</div>

  <div class="flex flex-col gap-6 text-sm ">
		<div>
			<span class="secondary-title text-base">{{'Documents liés :'|translate}}</span>
		</div>

	</div>
</section>
