<section>
  <app-top-bar for="FG" type="list"  ></app-top-bar>

<div class= " sm:h-[400px] flex flex-col py-8 sm:flex-row sm:justify-center items-center gap-6">

<button class="type-client-card" routerLink="{{navigate.f_simplePath}}">
    <div class="rounded-lg bg-white-1 p-5">
        <svg-icon name="factures" svgClass="w-11 stroke-1"></svg-icon>
    </div>
    <div class="flex flex-col items-start gap-1" >
        <span class="text-xl font-semibold">{{ 'DATA_NAME.F'| translate}}</span>
        <span class="text-base text-gray-2">{{ 'FACT_CARD.S'| translate}}</span>
    </div>
</button>

<button class="type-client-card" routerLink="{{navigate.f_avoirPath}}">
    <div class="rounded-lg bg-white-1 p-5">
        <svg-icon name="factures" svgClass="w-11 stroke-1"></svg-icon>
    </div>
    <div class="flex flex-col items-start gap-1" >
        <span class="text-xl font-semibold">{{ 'DATA_NAME.A'| translate}}</span>
        <span class="text-base text-gray-2">{{ 'FACT_CARD.A'| translate}}</span>
    </div>
</button>
<button class="type-client-card" routerLink="{{navigate.f_acomptePath}}" >
  <div class="rounded-lg bg-white-1 p-5">
      <svg-icon name="factures" svgClass="w-11 stroke-1"></svg-icon>
  </div>
  <div class="flex flex-col items-start gap-1" >
      <span class="text-xl font-semibold">{{ 'DATA_NAME.FA'| translate}}</span>
      <span class="text-base text-gray-2">{{ 'FACT_CARD.AC'| translate}}</span>
  </div>
</button>

</div>

</section>

