<section class="flex justify-between mb-5">

  <ng-container *ngIf="type != 'show'; else show" >
      <span class="primary-title" *ngIf="for == 'C' " >{{'TITLE.C' | translate}}</span>
      <span class="primary-title" *ngIf="for == 'S' " >{{'TITLE.S' | translate}}</span>
      <span class="primary-title" *ngIf="for == 'D' " >{{'TITLE.D' | translate}}</span>
      <span class="primary-title" *ngIf="for == 'O' " >{{'TITLE.O' | translate}}</span>
      <span class="primary-title" *ngIf="for == 'FG' " >{{'TITLE.F' | translate}}</span>

      <div class="primary-title" *ngIf="for == 'P' " >
        <div class="flex gap-4 items-center">
        <button class="common-btn-gray" routerLink="/environment/1/facturation/opportunites">
            <svg-icon name="arrowdown"  svgClass="w-5 rotate-90"  ></svg-icon>
        </button>
        <div class="flex flex-col">
            <span >{{'TITLE.Pip' | translate}}</span>
        </div>
     </div>
    </div>

    <div class="primary-title" *ngIf="for == 'F' && type =='list'" >


      <div class="flex gap-4 items-center">
        <button class="common-btn-gray" routerLink="./..">
            <svg-icon name="arrowdown"  svgClass="w-5 rotate-90"  ></svg-icon>
        </button>
        <div class="flex flex-col">
            <span >{{'TITLE.FS' | translate}}</span>
        </div>
     </div>

    </div>
    <div class="primary-title" *ngIf="for == 'F' && type !=('list'||'show')" >

      <div class="flex gap-4 items-center">
        <button class="common-btn-gray" routerLink="../..">
            <svg-icon name="arrowdown"  svgClass="w-5 rotate-90"  ></svg-icon>
        </button>
        <div class="flex flex-col">
            <span >{{'TITLE.FS' | translate}}</span>
        </div>
     </div>

    </div>
    <div class="primary-title" *ngIf="for == 'A'  && type =='list'" >
        <div class="flex gap-4 items-center">
          <button class="common-btn-gray" routerLink="./..">
              <svg-icon name="arrowdown"  svgClass="w-5 rotate-90"  ></svg-icon>
          </button>
          <div class="flex flex-col">
              <span > {{'TITLE.A' | translate}}</span>
          </div>
       </div>
     </div>
     <div class="primary-title" *ngIf="for == 'A'  && type !=('list'||'show')" >
      <div class="flex gap-4 items-center">
        <button class="common-btn-gray" routerLink="../..">
            <svg-icon name="arrowdown"  svgClass="w-5 rotate-90"  ></svg-icon>
        </button>
        <div class="flex flex-col">
            <span > {{'TITLE.A' | translate}}</span>
        </div>
     </div>
   </div>
    <div class="primary-title" *ngIf="for == 'FA'  && type =='list' " >
      <div class="flex gap-4 items-center">
        <button class="common-btn-gray" routerLink="./..">
            <svg-icon name="arrowdown"  svgClass="w-5 rotate-90"  ></svg-icon>
        </button>
        <div class="flex flex-col">
            <span > {{'TITLE.FA' | translate}}</span>
        </div>
     </div>
    </div>
    <div class="primary-title" *ngIf="for == 'FA'  && type !=('list'||'show') " >
      <div class="flex gap-4 items-center">
        <button class="common-btn-gray" routerLink="../..">
            <svg-icon name="arrowdown"  svgClass="w-5 rotate-90"  ></svg-icon>
        </button>
        <div class="flex flex-col">
            <span > {{'TITLE.FA' | translate}}</span>
        </div>
     </div>
    </div>

  </ng-container>

  <ng-template #show>
  <div class="flex gap-4 items-center">
      <button class="common-btn-gray" routerLink="../..">
          <svg-icon name="arrowdown"  svgClass="w-5 rotate-90"  ></svg-icon>
      </button>
      <div class="flex flex-col">
          <span class="text-sm font-semibold" *ngIf="showData[0]">{{showData[0]}}</span>
          <span class="text-xs text-gray-2" *ngIf="showData[1]">{{showData[1]}}</span>
      </div>
  </div>
  </ng-template>

  <div class="flex gap-4">



      <!-- Filter menu  -->
      <app-drop-menu [for]="for" type="filter" *ngIf="type == 'list' && (for == 'D' || for == 'FG'||for == 'F' || for == 'FA'|| for == 'A'||  for == 'O' ||  for == 'P' )  "></app-drop-menu>

      <!-- 3dots menu | edit| list | show -->
      <app-drop-menu [type]="type" [size]="sizeMenu" [for]="for" [data]="data" *ngIf ="type !== 'add'"></app-drop-menu>

  </div>

</section>
